
.cards{ margin: 6px;
   display: block;
}
nav{position: static;}
header {height: 64vh;
    padding: 1rem;
}
.card1 ,
.card2 ,
.card3 ,
.card4 ,
.card5 ,
.card6 { margin: 4px;}
footer{width: 100%;}
nav { position: sticky;
    top: 0;
background-image: rgba(255, 255, 255, 0.001):}